
		<div class="row px-5">
			<div class="col-12">
				<form method="GET" action="#" class="card card-body bg-light">
					<h2>Vertical Forms</h2>
		
					<p>
						<label class="col-form-label" for="date1">
							Date:
						</label>
						<input type="text" name="date1" id="date1" class="form-control datepicker">
					</p>
		
					<p>
						<label class="col-form-label">
							Date:
		
							<input type="text" name="date2" id="date2" class="form-control datepicker">
						</label>
					</p>
		
					<p>
						<input type="text" name="date3" id="date3" class="form-control datepicker" aria-label="Date">
					</p>
		
					<hr>
		
					<div class="input-group">
						<div class="input-group-prepend">
						  <span class="input-group-text" id="date4-label">Date:</span>
						</div>
						<input type="text" name="date4" id="date4" class="form-control datepicker" aria-labelledby="date4-label">
					</div>
		
					<hr>
		
					<div class="form-row">
						<div class="col-md-4">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text" id="date5-label">Date:</span>
								</div>
								<input type="text" name="date5" id="date5" class="form-control datepicker" aria-labelledby="date5-label">
							</div>
						</div>
						<div class="col-md-4">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text" id="date6-label">Date:</span>
								</div>
								<input type="text" name="date6" id="date6" class="form-control datepicker" aria-labelledby="date6-label">
							</div>
						</div>
						<div class="col-md-4">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text" id="date7-label">Date:</span>
								</div>
								<input type="text" name="date7" id="date7" class="form-control datepicker" aria-labelledby="date7-label">
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="col-md-4">
							<label class="col-form-label" for="date8">
								Date:
							</label>
		
							<input type="text" name="date8" id="date8" class="form-control datepicker">
						</div>
						<div class="col-md-4">
							<div class="input-group">
								<label class="col-form-label">
									Date:
		
									<input type="text" name="date9" id="date9" class="form-control datepicker">
								</label>
							</div>
						</div>
						<div class="col-md-4">
							<input type="text" name="date10" id="date10" class="form-control datepicker" aria-label="Date 10">
						</div>
					</div>
		
					<div class="position1">
						<div class="position2">
							<div class="position3">
								<div class="position4">
									<label class="col-form-label" for="date11">
										Date:
									</label>
		
									<input type="text" name="date11" id="date11" class="form-control datepicker">
								</div>
							</div>
						</div>
					</div>
				</form>
				<form method="GET" action="#" class="card card-body bg-light">
					<h2>Horizontal Forms</h2>
		
					<div class="form-group row">
						<label for="date12" class="col-form-label col-md-1">Date:</label>
						<div class="col-md-11">
							<input type="text" name="date12" id="date12" class="form-control datepicker">
						</div>
					</div>
		
					<div class="form-group row">
						<label for="date13" class="col-form-label col-md-1">Date:</label>
						<div class="col-md-11 form-inline">
							<div class="input-group float-left">
								<div class="input-group-prepend">
									<span class="input-group-text" id="date13-label">From:</span>
								</div>
								<input type="text" name="date13" id="date13" class="form-control datepicker">
							</div>
							<div class="input-group float-right">
								<div class="input-group-prepend">
									<span class="input-group-text" id="date14-label">To:</span>
								</div>
								<input type="text" name="date14" id="date14" class="form-control datepicker" aria-labelledby="date14-label">
							</div>
						</div>
					</div>
		
					<div class="form-group row">
						<span for="date15" class="col-form-label col-md-1">Date:</span>
		
						<div class="col-md-2">
							<div class="input-group flex-nowrap">
								<div class="input-group-prepend">
									<span class="input-group-text" id="date15-label">1:</span>
								</div>
								<input type="text" name="date15" id="date15" class="form-control datepicker" aria-labelledby="date15-label">
							</div>
						</div>
		
						<div class="col-md-2">
							<div class="input-group flex-nowrap">
								<div class="input-group-prepend">
									<span class="input-group-text" id="date16-label">2:</span>
								</div>
								<input type="text" name="date16" id="date16" class="form-control datepicker" aria-labelledby="date16-label">
							</div>
						</div>
		
						<div class="col-md-2">
							<div class="input-group flex-nowrap">
								<div class="input-group-prepend">
									<span class="input-group-text" id="date17-label">3:</span>
								</div>
								<input type="text" name="date17" id="date17" class="form-control datepicker" aria-labelledby="date17-label">
							</div>
						</div>
		
						<div class="col-md-2">
							<div class="input-group flex-nowrap">
								<div class="input-group-prepend">
									<span class="input-group-text" id="date18-label">4:</span>
								</div>
								<input type="text" name="date18" id="date18" class="form-control datepicker" aria-labelledby="date18-label">
							</div>
						</div>
		
						<div class="col-md-2">
							<div class="input-group flex-nowrap">
								<div class="input-group-prepend">
									<span class="input-group-text" id="date19-label">5:</span>
								</div>
								<input type="text" name="date19" id="date19" class="form-control datepicker" aria-labelledby="date19-label">
							</div>
						</div>
					</div>
		
					<table class="table">
						<caption>Dates in Tables</caption>
						<thead>
							<tr>
								<th scope="col">Begin</th>
								<th scope="col">Middle</th>
								<th scope="col">End</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<label for="date20" class="sr-only">Begin Date 1</label>
									<input type="text" name="date20" id="date20" class="form-control datepicker">
								</td>
								<td>
									<label for="date21" class="sr-only">Middle Date 1</label>
									<input type="text" name="date21" id="date21" class="form-control datepicker">
								</td>
								<td>
									<label for="date25" class="sr-only">End Date 1</label>
									<input type="text" name="date22" id="date22" class="form-control datepicker">
								</td>
							</tr>
							<tr>
								<td>
									<label for="date23" class="sr-only">Begin Date 2</label>
									<input type="text" name="date23" id="date23" class="form-control datepicker">
								</td>
								<td>
									<label for="date24" class="sr-only">Middle Date 2</label>
									<input type="text" name="date24" id="date24" class="form-control datepicker">
								</td>
								<td>
									<label for="date25" class="sr-only">End Date 2</label>
									<input type="text" name="date25" id="date25" class="form-control datepicker">
								</td>
							</tr>
						</tbody>
					</table>
		
				
	
				</form>			
					
			</div>
		</div>