<div class="row px-5">
	<div class="col-12">
		<h3 class="mt-5">Chicago Design System Main Footer</h3>
		<footer>
            <div class='footer-primary'>
              <div class='footer-primary-nav container' role='navigation'>
                <a href='#'>Link 1</a>
                <a href='#'>Link 2</a>
                <a href='#'>Link 3</a>
              </div>
            </div>
            <div class='footer-main'>
            <div class='container'>
              <div class='row'>
                <div class='col-sm-6'>
            
                  <div class="media footer-media">
                    <img class="align-self-center mr-3" src="assets/img/city_seal_clr.png" alt="City of Chicago">
                    <div class="media-body align-self-center">
                      <h3 class="mt-0">City of Chicago</h3>
                    </div>
                    </div>
        
                </div>
                <div class='col-sm-6'>
                  <div class='footer-main-right'>
                    <div class='footer-social-links'>
                      <a href='#'><i class="fab fa-twitter"></i></a>
                      <a href='#'><i class="fab fa-facebook"></i></a>
                      <a href='#'><i class="fab fa-youtube"></i></a>
                    </div>
                    <div class='footer-contact'>
                        <h4>Contact Info</h4>
                    </div>
                    <div class='footer-contact-links'>
                        <a href="#">info@chicago.gov</a>
                        <a href="#">(312)-774-2828</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </footer>
</div>
